.container{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
.table{
    border-collapse: collapse;
    margin: 0;
    font-size: clamp(0.5rem, 2vw, 1rem);
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
}
.table thead tr{
    background-color: #f3f3f3;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.table th,
.table td {
    padding: 1rem 2rem;
}
.table tbody tr {
    border-bottom: 1px solid #dddddd;
    background: white;
}
.table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.table tbody tr:last-child{
    border-bottom: 2px solid black;
}