:root{
    font-size: 16px;
    font-family: cursive;
}
body{
    background: linear-gradient(#e66465, #9198e5);
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}
.container{
    width: clamp(300px, 80vw, 1200px);
    height: 100vh;
    padding: 0;
    margin: 0;
}
